/* Add CSS styling here */

/*############################
General Stylings
############################*/

@keyframes entrance {
  0% {
    margin-left: 80%;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

body {
  background: #000000;
  color: #ffffff;
  font-size: 62.5%;
  font-family: "Roboto Mono", monospace;
  animation-name: entrance;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

body h1:hover,
body h2:hover,
body h3:hover,
body p:hover,
li:hover {
  color: #adff2f;
}

img {
  height: 75px;
  width: 75px;
}

h1 {
  font-size: 4rem;
  font-family: "Bangers", cursive;
}

h2,
h3 {
  font-size: 2.5rem;
}

ul {
  margin: 10px;
}

p,
li {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

header {
  margin-bottom: 2%;
  background-image: url("../science-background.jpg");
}

footer {
  margin-top: 2%;
  background: #008000;
  text-align: center;
}

/*############################
Nav Bar
############################*/

nav a {
  color: #ffffff;
  background: blue;
  font-size: 1rem;
  border: 1px solid #ffffff;
  border-radius: 25%;
}

header nav,
header nav a {
  margin: 20px;
  padding: 10px;
}

header nav a:hover {
  transition: all 0.5s linear 0;
  background: #adff2f;
  color: #000000;
}

header nav a:focus {
  font-weight: bold;
}

/*############################
About Section
############################*/

.about {
  display: flex;
  justify-content: center;
}

.about .about-img img {
  height: 550px;
  width: 100%;
}

.about .about-info {
  width: 35%;
  margin: 10%;
}

.about .about-info ul {
  border: 5px solid green;
}

.about .about-info li {
  margin: 10px;
}

.about .about-info button {
  color: #ffffff;
  background: blue;
  font-size: 1rem;
  border: 1px solid #ffffff;
  border-radius: 25%;
}

.about .about-info button:hover {
  transition: all 0.5s linear 0;
  background: #adff2f;
  color: #000000;
}

.about .about-info button:focus {
  font-weight: bold;
}

.about .about-info h2,
.about .about-info button {
  margin-bottom: 5%;
}

/*############################
My Interests Section
############################*/

.myInterests {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

.myInterests div {
  width: 300px;
  margin: 10px;
  border-radius: 4px;
  background: green;
  color: white;
}

.myInterests div img {
  width: 100%;
  height: 250px;
  margin: 1% 0;
}

/*############################
Contact Section
############################*/

footer div button {
  margin: 1% 0;
  color: #ffffff;
  background: blue;
  font-size: 1rem;
  border: 1px solid #ffffff;
  border-radius: 25%;
}

footer div button:hover {
  transition: all 0.5s linear 0;
  background: #adff2f;
  color: #000000;
}

footer div button:focus {
  font-weight: bold;
}

footer .social-media img {
  height: 25px;
  width: 25px;
}
